name: Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  DOCKER_IMAGE_NAME: everything-bot
  DOCKER_IMAGE_VERSION: latest

jobs:
  build:
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:${{ env.DOCKER_IMAGE_VERSION }}

      - name: Pull and run Docker image on server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            docker rm -f ${{ env.DOCKER_IMAGE_NAME }}
            docker rmi -f $(docker images -q "${{ secrets.DOCKER_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}")
            echo ${{ secrets.DOCKER_PASSWORD }} | docker login --username ${{ secrets.DOCKER_USERNAME }} --password-stdin
            docker run --name "${{ env.DOCKER_IMAGE_NAME }}" -d \
              -e BOT_TELEGRAM_MIDDAYWALKREMINDERBOT_TOKEN="${{ secrets.BOT_TELEGRAM_MIDDAYWALKREMINDERBOT_TOKEN }}" \
              -e BOT_TELEGRAM_MIDDAYWALKREMINDERBOT_CHANNEL-CHAT-ID="${{ secrets.BOT_TELEGRAM_MIDDAYWALKREMINDERBOT_CHANNEL_CHAT_ID }}" \
              -e MIDDAYWALKREMINDERBOT_CITY="${{ secrets.MIDDAYWALKREMINDERBOT_CITY }}" \
              -e SPRING_AI_OLLAMA_BASE-URL="http://${{ secrets.SERVER_HOST }}:11434" \
              -e SPRING_AI_OLLAMA_CHAT_OPTIONS_MODEL="llama3.2:1b" \
              -e BOT_TELEGRAM_TEST_TOKEN="${{ secrets.BOT_TELEGRAM_TEST_TOKEN }}" \
              -e BOT_TELEGRAM_TEST_USERNAME="${{ secrets.BOT_TELEGRAM_TEST_USERNAME }}" \
              ${{ secrets.DOCKER_USERNAME }}/${{ env.DOCKER_IMAGE_NAME }}:${{ env.DOCKER_IMAGE_VERSION }}
